<!-- Conveners -->
{% load static %}
<div class="container">
  <h1 class="h1 font-weight-light pt-4 pb-4 text-center">Conveners</h1>
  <div class="row row-cols-md-3 row-cols-2 justify-content-center">
    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/Tamojeet.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Tamojeet</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 2 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/Shlesh.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shlesh</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 3 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/Dhananjay.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Dhananjay</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 4 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/Apoorva.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Apoorva</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 5 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/Anushika.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Anushika</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 6 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/Mayank.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Mayank</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
  </div>
</div>
