<!-- Manager -->
{% load static %}
<div class="container">

  <div class="row row-cols-sm-2 row-cols-1 justify-content-center">
    <!-- Manager 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/advait.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Advait Mehla</h5>
          <p class="card-text">Manager</p>
        </div>
      </div>
    </div>

    <!-- Secy-->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/raksha.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Raksha Maheshwari</h5>
          <p class="card-text">Secretary</p>
        </div>
      </div>
    </div>

  </div>
</div>
