.carousel-img{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Tinted background images */
.slide-1{
  background-image: url('../img/slides-1.jpeg');
}

.slide-2{
  background-image: url('../img/slides-2.jpeg');
}

.slide-3{
  background-image: url('../img/slides-3.jpeg');
}
