<!-- Conveners -->
{% load static %}
<div class="container">
  <h1 class="h1 font-weight-light pt-4 pb-4 text-center">Conveners</h1>
  <div class="row row-cols-md-3 row-cols-2 justify-content-center">
    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2021/adish.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Adish</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Utkarsha</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/advait.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Advait</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Aditya Kudre</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>

    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2021/adityamaheshwari.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Aditya Maheshwari</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2022/raksha.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Raksha</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Mohit</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>

    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Kishan</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>

    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shreya</h5>

          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
  </div>
</div>