{% load static %}

<div class="owl-carousel">
  <div class="carousel-img slide-1">
    <div class="carousel-caption text-center text-light mb-5 pb-5">
      <div class="h1">Pleiades</div>
      <div class="">A capture of the Pleides cluster using the gear we have here. Called Krittika in Indian culture, this star cluster is what our club is named after, so it holds some sentimental value. Please stop us if you find us staring at it for very long times at a stretch.
      </div>
    </div>
  </div>
  <div class="carousel-img slide-2">
    <div class="carousel-caption text-center text-light mb-5 pb-5">
      <div class="h1">Orion Nebula</div>
      <div class="">
        Located near the belt of Orion, this is one of our objects spots to show to first-time telescope users. Photo, once again, was captured by us, but after stretching, this does not do justice to our original image, dm one of us to get the original image ;)
      </div>
    </div>
  </div>
  <div class="carousel-img slide-3">
    <div class="carousel-caption text-center text-light mb-5 pb-5">
      <div class="h1">Jupiter</div>
      <div class="">
        One of the first pictures we captured this year. On a good day you can also see 4 of its largest moons with our telescopes.
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      loop:true,
      items:1,
      //dots:true,
      //nav:true,
      //navText:['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      autoplay:true,
      autoplayTimeout:5000,
    });
  });
</script>
