<div id="commonFooter">
<!--Main Footer-->
<footer class="d-flex flex-wrap align-items-center py-3 my-4 mt-auto text-center mb-3 card rounded-lg shadow-lg mainFooter copyrightFooter cinzel">

    <h3 class="cinzel font-weight-bold mb-4">Join us on</h3>

    <div class="card-text px-0 pb-3">
    <ul class="nav justify-content-end list-unstyled d-flex mr-auto ml-auto">
      <li class="ms-3">
      <a href="https://www.facebook.com/KrittikaIITB/" target="_blank" class="mx-sm-2 mx-1">
        <i id="social_fb" class="fab fa-facebook fa-2x rounded-lg p-2 social-icons" style="background-color:#eee;"></i>
      </a>
    </li>
      <li class="ms-3">
      <a href="https://www.instagram.com/krittika.iitb/" target="_blank" class="mx-sm-2 mx-1">
        <i id="social_insta" class="fab fa-instagram fa-2x rounded-lg p-2 social-icons" style="background-color:#eee;"></i>
      </a>
    </li>
      <li class="ms-3">
      <a href="https://github.com/krittikaiitb" target="_blank" class="mx-sm-2 mx-1">
        <i id="social_github" class="fab fa-github fa-2x rounded-lg p-2 social-icons" style="background-color:#eee;"></i>
      </a>
    </li>
      <li class="ms-3">
      <a href="mailto:krittika.club@iitb.ac.in" target="_blank" class="mx-sm-2 mx-1">
        <i id="social_mail" class="fa fa-envelope fa-2x rounded-lg p-2 social-icons" style="background-color:#eee;"></i>
      </a>
    </li>
    </ul>
    </div>

<!-- </footer> -->

<!--Copyright footer-->
<!-- <footer class="text-center p-4 ml-3 mr-3 mb-3 card shadow-lg  cinzel"> -->
  <div class="row">
    <div class="col-md-12">
      <i class="far fa-copyright"></i> Copyright <b class="font-weight-bold">&centerdot;</b>
      Krittika Team
    </div>

  </div>
</footer>
</div>
