<!-- Conveners -->
{% load static %}
<div class="container">
  <h1 class="h1 font-weight-light pt-4 pb-4 text-center">Conveners</h1>
  <div class="row row-cols-md-3 row-cols-2 justify-content-center">
    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Ananya</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 2 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Aneesh</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 3 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Devansh</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 4 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Harshada</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 5 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Manan</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 6 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Omkar</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 7 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Soham</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 8 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sreeman</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 9 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Unnatee</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 10 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'users/img/default_profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Vaishnav</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
  </div>
</div>
