<!-- Conveners -->
{% load static %}
<div class="container">
  <h1 class="h1 font-weight-light pt-4 pb-4 text-center">Conveners</h1>
  <div class="row row-cols-md-3 row-cols-2 justify-content-center">
    <!-- Convener 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2019/Arsh_Khan.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Arsh</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 2 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2019/Fathima.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Fathima</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 3 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2019/Kritti.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Kritti</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 4 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2019/Pranav_Page.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Pranav</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 5 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2019/Shravan_Godse.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shravan</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
    <!-- Convener 6 -->
    <div class="col-md-4 mb-4">
      <div class="card border-0 shadow bg-light">
        <img src="{% static 'img/team/2019/Siddhant_Tripathy.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Siddhant</h5>
          <p class="card-text">Convener</p>
        </div>
      </div>
    </div>
  </div>
</div>
