{% extends 'commonBase.html' %}
{% load static %}

{% block head %}

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
  integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
  integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{% block header %}
{% endblock %}

{% endblock %}

{% block logout %}
<a class="btn btn-link text-light my-2 my-sm-0" href="{% url 'events:logout' %}"><b
    class="text-danger lead">Logout</b></a>
{% endblock %}

{% block body %}

{% block content %}
{% endblock %}

<!--DATETIME-PICKER-->
<script>
  $(function () {
    $("#id_startTime").datetimepicker({
      format: 'd/m/Y H:i' //'Y-m-d H:i',
    });
  });
  $(function () {
    $("#id_endTime").datetimepicker({
      format: 'd/m/Y H:i' //'Y-m-d H:i',
    });
  });

</script>

{% endblock %}
